<div class="content-column">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="detailForm" novalidate>
        <section fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-between">
          <mat-form-field fxFlex="48" fxFlex.lt-md="100">
            <input matInput placeholder="First Name" formControlName="firstName" name="firstName">
            <mat-error>First name is required</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="48" fxFlex.lt-md="100">
            <input matInput placeholder="Last Name" formControlName="lastName" name="lastName">
            <mat-error>Last name is required</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="48" fxFlex.lt-md="100">
            <input matInput placeholder="Email" formControlName="Email" name="Email">
            <mat-error>Email is required</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="48" fxFlex.lt-md="100">
            <input matInput placeholder="Phone Number" formControlName="phoneNumber" name="PhoneNumber">
          </mat-form-field>

        </section>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="save()" color="accent">Save</button>
    </mat-card-actions>
  </mat-card>
</div>
